/* Main Styles - Imports all CSS modules */
@import url('base.css');
@import url('animations.css');
@import url('navbar.css');
@import url('hero.css');
@import url('buttons.css');
@import url('cards.css');
@import url('sections.css');
@import url('footer.css');
@import url('responsive.css');
